.flex {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $break-md) {
    justify-content: flex-end;
  }
}

.t-center {
  text-align: center;
}
.t-margin4r {
  margin-top: 4rem;
}
